<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.goldze.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.HorizontalTabActivity" />
        <activity android:name=".activity.ActionBarActivity"></activity>
    </application>

</manifest>